.heading {
    color: purple;
    font-size: 3rem;
    font-weight: bold;
}

.container {
    margin: auto;
    max-width: 800px;
    font-family:sans-serif
}


.site-title {
    font-size: 2rem;
    color: gray;
    font-weight: 700;
  }

.navLink {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.navLinkItem {
    padding-right: 1rem;
}

.navLinkText {
    color: gray;
}

.footing {
    font-weight: bold;
}


.img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

.gridImage {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  }